body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: rgb(204, 204, 204);
}

/* ----STYLE HEADER---- */
header {
	height: 50px;
	padding: 10px;
}
header a {
	font-size: larger;
}
.view-highscores {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	float: left;
}
.timer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	float: right;
	font-size: larger;
}
/* STYLE HEADER END */

/* ----STYLE THE SECTIONS */
section {
	text-align: center;
}
.center-content {
	background-color: whitesmoke;
	border: solid 2px black;
	border-radius: 25px;
	padding: 15px;
	width: 700px;
	display: inline-block;
	flex-wrap: wrap;
}
div {
	margin: 10px;
}

.header-center {
	text-align: center;
}
/* STYLE THE SECTIONS ENDS */

/* ----STYLE THE BUTTONS---- */
button {
	color: black;
	background-color: rgb(197, 193, 193);
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
}

#startButton {
	display: block;
	margin: 0 auto;
}
