body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: rgb(204, 204, 204);
}

/* ----STYLE HEADER---- */
header {
	height: 50px;
	padding: 10px;
}
header div a {
	font-size: larger;
	text-decoration: none;
	font-weight: bold;
}
.view-highscores {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	float: left;
}
.timer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	float: right;
	font-size: larger;
}
/* STYLE HEADER END */

/* ----STYLE THE SECTIONS */
section {
	text-align: center;
	height: 1000px;
}
section div a {
	text-decoration: none;
	color: whitesmoke;
}
.center-content {
	background-color: whitesmoke;
	border: solid 2px black;
	border-radius: 25px;
	padding: 15px;
	width: 700px;
	display: inline-block;
	flex-wrap: wrap;
}
div {
	margin: 18px;
}
section div p {
	font-size: 18px;
}

.header-center {
	text-align: center;
}
.hide {
	display: none;
}
.show {
	display: block;
}
label {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
	padding: 10px 8px;
	font-weight: bold;
}
/* STYLE THE SECTIONS ENDS */

/* ----STYLE THE BUTTONS---- */
.button {
	color: whitesmoke;
	background-color: rgb(72, 15, 148);
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	margin: 10px;
}

#startButton {
	display: block;
	margin: 0 auto;
}

input {
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
}
